@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

nextjs-portal {
  display: none;
}
